<!DOCTYPE html>
<html ng-app="txt">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>txt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/bulma.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/bulma-switch.min.css">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="css/bulmaswatch.min.css"> -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/dracula.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
    <script src="js/angular.min.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/highlight.pack.js"></script>
</head>

<body ng-controller="mainController">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <!-- <a class="navbar-item" href="https://txt.sprk.pw">
                <img src="img/txt.png">
            </a> -->

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a href="https://txt.sprk.pw/" class="navbar-item">
                    Home
                </a>

                <a href="https://github.com/Sparkenstein/txt" class="navbar-item">
                    Source
                </a>

                <a href="javascript: void 0;" class="navbar-item">
                    FAQ
                </a>

                <a href="javascript: void 0;" class="navbar-item">
                    Contact
                </a>

                <!-- <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            About
                        </a>
                        <a class="navbar-item">
                            Jobs
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div> -->
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="control">
                        <label class="radio">
                            <input type="radio" name="answer">
                            Light Theme
                        </label>
                        <label class="radio">
                            <input type="radio" name="answer" checked>
                            Dark Theme
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="section">
        <div class="container">
            <div class="field">
                <div class="columns">
                    <div class="column">
                        <div class="select is-rounded">
                            <select>
                                <option>Select Expiry:</option>
                                <option>1 hour</option>
                                <option>10 hours</option>
                                <option>1 day</option>
                                <option>1 Week</option>
                                <option>1 Month</option>
                                <option>Never</option>
                            </select>
                        </div>
                    </div>
                    <div class="column">
                        <div style="padding-top: 8px;">
                                <input id="switchThinColorDefault" type="checkbox" name="switchThinColorDefault"
                                class="switch is-thin">
                            <label for="switchThinColorDefault">Enable Password</label>
                        </div>
                    </div>
                </div>

            </div>
            <div ng-show="!gotSyntax" class="field">
                <div class="control">
                    <textarea class="textarea is-primary has-fixed-size" style="height: 400px"
                        placeholder="Paste code here" ng-model="code"></textarea>
                </div>
            </div>
            <div ng-show="gotSyntax" class="field">
                <pre><code>{{code}}</code></pre>
            </div>
            <div class="field" ng-show="!gotSyntax">
                <button class="button is-primary is-rounded" ng-click="save()">Save</button>
            </div>
            <div class="field" ng-show="gotSyntax">
                <button class="button is-primary is-rounded">New</button>
                <button class="button is-primary is-rounded">Fork</button>
            </div>
        </div>
    </section>
</body>

</html>